html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/********************************************
            Colors
*********************************************/
/********************
    Font Stacks
**********************/
@font-face {
  font-family: 'Franklin-Goth';
  src: url("../../fonts/franklingothic-demiit-webfont.woff");
  src: url("../../fonts/franklingothic-demiit-webfont.woff2");
  src: url("../../../fonts/franklingothic-demiit-webfont.ttf") format("truetype"); }

/********************
    Font Weights
**********************/
/********************
        Text
**********************/
/********************
    Border Radius
**********************/
/********************
    Transitions
**********************/
/********************
Descriptive Base Colors
**********************/
/********************
    Color Usuage
**********************/
/********************
  Color Palette Mods
**********************/
/********************
    UI Colors
**********************/
/*
Example
@include prefixed-properties(css-animation, $animation-support-threshold,
  (animation-name: foo, animation-duration: 2s)
);
*/
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  min-height: 100%;
  margin-bottom: -60px; }
  .wrapper:after {
    content: "";
    display: block; }

.wrapper:after,
.sticky {
  height: 60px; }

body, html {
  max-width: 100%; }

.hidden {
  display: none; }

#contain {
  width: 95%;
  margin: auto;
  text-align: center; }

body {
  padding-top: 4.1em;
  font-family: 'Lato'; }

.col-lg-12 {
  padding: 0; }
  .col-lg-12 h2 {
    padding-bottom: 2em; }

ul {
  list-style: none; }
  ul li {
    margin: 0;
    padding: 0; }

/*********************
   Buttons
*********************/
.myButton {
  display: block; }

.button {
  margin: auto; }

.button-group {
  padding-bottom: 2em; }

.inline-button li, .inline-button {
  display: inline-block;
  padding-top: 1.5em; }

.btn.button.btn-info {
  background: linear-gradient(to bottom, #564e50 0%, #3d3839 13%, #201d1d 40%, #626061 96%, #626061 100%); }

.btn-group .active {
  background-color: #f33; }

.btn.button.btn-info.active {
  background: linear-gradient(to bottom, #f33 0%, #f33 13%, #f33 40%, #000001 96%, #626061 100%); }

.createButton {
  margin-top: 4em;
  margin-bottom: 2em; }

#tab {
  padding-bottom: 3em; }

.doc-sidebar {
  text-align: center; }

hr {
  margin: 0 !important; }

/*********************
    Navbar
*********************/
/*.navbar-default{
    background-color:#d2232a !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: #000;
}*/
.doc-nav li {
  display: inline-block;
  padding: 0 2em;
  text-align: center; }

.doc-nav a {
  color: rgba(0, 0, 0, 0.7); }

/*********************
    Table
*********************/
table tr th, table tr td {
  text-align: center; }

tr th {
  width: 25%; }

#showAll {
  display: inline-block;
  padding: 0 .5em 3em; }
  #showAll li h5 {
    display: block; }

.classPeriod {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: solid;
  background: linear-gradient(45deg, #e0e0e0 0%, #ff270a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ff270a', GradientType=1 );
  border-radius: 5%;
  max-height: 80px !important;
  min-width: 160px;
  min-height: 80px;
  word-break: break-all; }
  .classPeriod h5 {
    font-size: .95em;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 80%;
    margin: -15% 0 0 -40%; }
    .classPeriod h5 a {
      text-shadow: 2px 2px 2px black;
      color: white; }

/*********************
   Index
*********************/
#sidebar {
  float: left;
  margin-top: 4em;
  padding-right: 4em; }

.studentFormName {
  display: inline-block; }

.completeTable {
  margin: auto; }

.inline-button {
  display: inline-block; }

.allStudents {
  margin-bottom: 10em; }

.span12 #tab .btn {
  min-height: 50px;
  width: 150px; }

.span12 .tab-content {
  min-height: 200px; }

#assignmentShow {
  padding-bottom: 2em; }

/*********************
   Class Colors
*********************/
.classLabel {
  background: linear-gradient(45deg, #e0e0e0 0%, #ff270a 100%); }

.hwLabel {
  background: linear-gradient(45deg, #e0e0e0 0%, #f33 100%); }

.testLabel {
  background: linear-gradient(45deg, #e0e0e0 0%, #000 100%); }

.quizLabel {
  background: linear-gradient(45deg, #e0e0e0 0%, #fff 100%); }
  .quizLabel h5 a {
    color: black;
    text-shadow: 1px 1px grey; }

select {
  height: 2.5125rem !important; }

/*# sourceMappingURL=app.css.map */
