.hidden{
    display: none;
}
#contain{
    width: 95%;
    margin: auto;
    text-align: center;
}
body{
    padding-top: 4.1em;
    font-family: 'Lato';
}
.col-lg-12{
    padding: 0;
}

.col-lg-12 h2{
    padding-bottom: 2em;
}
ul{
    list-style: none;
}

li{
    margin: 0;
    padding: 0;
}
.myButton{
    display: block;
}
.button{

    margin: auto;
}

.button-group{
    padding-bottom: 2em;
}

.inline-button li, .inline-button{
    display: inline-block;
}
/*********************
    Navbar
*********************/
/*.navbar-default{
    background-color:#d2232a !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color: #000;
}*/

/*********************
    Table
*********************/
table tr th, table tr td{
    text-align: center;
}

tr th{
    width:25%;
}
#showAll{
    display: inline-block;
    padding: 0 .5em 3em;
}
#showAll li h5{
   display: block;
}

.classPeriod{
    display: inline-block;
    padding: 1em;
    border: solid;
    background: rgba(224,224,224,1);
background: -moz-linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,39,10,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(100%, rgba(255,39,10,1)));
background: -webkit-linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,39,10,1) 100%);
background: -o-linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,39,10,1) 100%);
background: -ms-linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,39,10,1) 100%);
background: linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,39,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ff270a', GradientType=1 );
border-radius: 5%;
}

.classPeriod h5 a{
    text-shadow: 2px 2px 2px black;
    color:white;
}
/*********************
   Index
*********************/

.studentFormName{
    display: inline-block;
}


.completeTable{
    margin: auto;
}

.inline-button{
    display: inline-block;
}

.allStudents{
    margin-bottom: 10em;
}